.flex-centered-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box,
.box-green {
  border: 1px solid #fff;
  color: #fff;
}

.box {
  height: 50px;
  background-color: rgb(11, 64, 180);
  padding: 10px;

}

.box > .row {
  height: 100%;
}

.box-green {
  background-color: lime;
  height: 100%;
}
